<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="../img/novi.JPG" alt="Novi Ambar" width="200" height="300">
            <h1 class="display-4">Novi Ambar</h1>
            <p class="lead">Guest</p> 
        </div>
    </div>
</div>