    <h1>Web Server NodeJs</h1>
    <p>Welcome to my page <%= nama %></p> <br>
    <h1>Contact List </h1>
        <!-- Check If Array Empty -->
        <% if (cont.length == 0) { %>       
            <p>Data is empty</p>
        <% } else { %>
            <!-- Menampilkan Array dari app.js -->
            <% cont.forEach(function(conts) { %>
                <li> Name:  <%= conts.name %> </li>
                <li> Email:  <%= conts.email %> </li>
                <br>
            <% }) %>
        <% } %>